.main-logo-wrapper {
  position:absolute;  
  top: 40px;        
  left: 130px;       
  z-index: 1000;    
  border-radius: 5px;
}

/*--------Mobile View--------
-----------------------------*/

@media (max-width: 600px) {
  .main-logo-wrapper {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    padding: 20px;
    background-color: #000;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.card {
  flex: 0 0 400px; 
  height: 380px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.card-content {
  flex: 1;
}

.card-title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card-desc {
  margin-bottom: 8px;
  font-size: 14px;
  color: #fff;
}

.card-image {
  border-radius: 8px;
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/*--------Mobile View--------
-----------------------------*/

.swiper {
  padding: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.swiper-pagination-bullet {
  background: #ccc;
}

.swiper-pagination-bullet-active {
  background: #000;
}
